# ENTROPY OF FOOTBALL STATISTICS

**In this project we will be exploring football statistics and the effectivness of machine learning models to predict the outcome of matches. For this we will be employing two types of models: regression and classifier models.**

In [21]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [42]:
statistics = pd.DataFrame()
for i in range (2016, 2019, 1):
    foldername = "Parsed_" + str(i) + "_" + str(i+1)[2:] + "/gwgames/"
    for j in range(1,39,1):
        filename = "gw" + str(j) + ".csv"
        statistics = statistics.append(pd.read_csv(foldername + filename))

In [43]:
statistics

,name,attempted_passes,big_chances_created,big_chances_missed,clearances_blocks_interceptions,completed_passes,dribbles,errors_leading_to_goal_attempt,fixture,fouls,...,red_cards,round,saves,tackled,tackles,target_missed,team_score,was_home,yellow_cards,shots_on_target
0,West Ham United,351,0,0,49,262,3,0,10,16,...,0,1,4,19,18,2,1,0,2,3
1,Everton,357,0,1,61,261,8,0,3,10,...,0,1,3,16,16,4,1,1,0,6
2,Arsenal,485,0,1,36,385,8,0,8,13,...,0,1,3,23,8,3,3,1,3,5
3,Watford,303,0,0,51,194,8,0,7,12,...,1,1,6,13,15,4,1,0,2,1
4,Chelsea,559,0,0,19,481,16,0,10,16,...,0,1,2,26,10,6,2,1,5,6
5,Hull City,448,0,0,53,340,7,1,4,8,...,0,1,4,14,14,7,2,1,2,5
6,Middlesbrough,353,1,1,38,262,10,0,6,18,...,0,1,0,16,8,6,1,1,3,2
7,AFC Bournemouth,483,0,0,19,412,13,0,9,7,...,0,1,4,27,11,2,1,1,0,3
8,Liverpool,481,2,0,32,382,11,0,8,17,...,0,1,2,21,9,3,4,0,3,7
9,Sunderland,188,2,1,60,102,11,1,5,14,...,0,1,3,8,11,2,1,0,2,3
10,Leicester City,450,2,3,22,346,10,1,4,17,...,0,1,3,20,9,9,1,0,2,5
11,Manchester City,678,1,1,44,578,15,0,5,11,...,0,1,2,15,4,8,2,1,1,5
12,Southampton,579,0,0,37,494,10,0,7,8,...,0,1,0,24,9,10,1,1,1,7
13,Norwich City,485,0,1,35,387,12,1,3,14,...,0,1,5,26,8,4,1,0,0,4
14,Manchester United,560,2,2,48,487,8,1,9,10,...,0,1,2,15,13,2,3,0,1,7
15,Burnley,336,1,1,40,237,6,0,1,10,...,0,1,7,17,5,5,0,1,3,3
16,Crystal Palace,415,1,2,39,300,8,0,2,12,...,0,1,2,19,19,7,0,1,2,4
17,Swansea City,381,2,2,76,296,8,0,1,14,...,0,1,3,14,11,6,1,0,2,8
18,West Bromwich Albion,242,0,0,48,142,5,0,2,15,...,0,1,4,29,4,8,1,0,2,3
19,Stoke City,421,0,0,30,330,17,0,6,14,...,0,1,1,17,11,9,1,0,5,1
0,West Ham United,355,2,1,49,276,10,0,20,15,...,0,2,5,10,6,8,1,1,3,2
1,Everton,570,4,3,33,476,16,0,18,10,...,0,2,3,23,11,5,2,0,1,7
2,Arsenal,552,0,0,51,450,20,1,13,7,...,0,2,1,24,13,4,0,0,2,4
3,Watford,330,1,1,53,251,9,0,17,20,...,0,2,2,17,14,2,1,1,4,2
4,Chelsea,559,2,1,35,487,9,0,17,10,...,0,2,1,24,9,6,2,0,3,4
5,Hull City,446,3,1,79,354,3,1,15,10,...,0,2,3,17,16,3,2,0,0,4
6,Middlesbrough,474,2,1,57,370,7,0,19,14,...,0,2,4,17,12,2,2,0,1,3
7,AFC Bournemouth,409,0,0,47,319,4,0,20,15,...,1,2,1,16,7,1,0,0,1,5
8,Liverpool,852,0,0,15,763,8,0,12,5,...,0,2,0,12,6,13,0,0,1,5
9,Sunderland,401,0,0,30,307,21,0,19,11,...,0,2,1,30,8,6,1,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,Everton,552,0,1,38,463,10,0,365,8,...,0,37,1,17,12,9,2,1,0,7
11,Leicester City,419,1,1,57,336,11,0,367,5,...,0,37,4,14,0,2,0,0,2,2
12,Manchester United,605,2,2,27,512,10,1,366,10,...,0,37,2,18,15,9,1,0,1,7
13,Southampton,382,0,0,36,292,9,0,369,11,...,0,37,3,18,11,4,0,0,1,1
14,Cardiff City,275,2,2,40,172,7,0,363,14,...,0,37,4,16,9,6,2,1,0,8
15,Tottenham,407,1,1,33,321,10,0,362,12,...,2,37,5,15,8,3,0,0,5,5
16,Brighton,235,1,2,53,172,7,0,361,14,...,0,37,6,11,9,4,1,0,2,5
17,Chelsea,540,5,4,38,457,15,0,364,6,...,0,37,3,14,7,6,3,1,0,9
18,Newcastle United,295,0,0,39,205,5,0,368,10,...,0,37,1,12,7,3,2,1,1,6
19,Manchester City,639,1,1,24,552,7,0,367,12,...,0,37,2,22,4,10,1,1,3,5
0,West Ham United,459,2,2,51,400,22,1,380,10,...,0,38,7,18,4,5,4,0,0,9
1,Burnley,343,0,1,40,265,6,0,372,11,...,0,38,3,11,5,6,1,1,5,4
2,Huddersfield Town,390,1,1,37,252,4,0,378,6,...,0,38,2,13,7,4,1,0,1,3
3,Arsenal,533,3,2,37,461,4,0,372,3,...,0,38,3,15,5,4,3,0,1,6
4,Crystal Palace,428,3,1,39,341,3,0,373,11,...,0,38,5,19,6,7,5,1,3,9
5,Watford,418,1,1,17,338,5,0,380,10,...,1,38,5,15,4,2,1,1,1,8
6,Fulham,764,0,0,20,690,9,0,374,6,...,0,38,2,15,6,8,0,1,1,2
7,Wolves,422,2,2,36,323,2,2,376,11,...,0,38,3,18,6,4,0,0,2,2
8,Liverpool,601,2,1,27,508,7,0,376,3,...,0,38,2,13,8,5,2,1,0,5
9,AFC Bournemouth,514,3,2,40,425,11,0,373,8,...,0,38,4,16,8,6,3,0,0,8
10,Chelsea,535,1,1,29,464,13,0,375,8,...,0,38,3,16,6,7,0,0,1,4
11,Everton,436,1,2,31,357,4,0,379,13,...,0,38,1,21,7,4,2,0,2,9
12,Leicester City,470,0,0,37,407,17,1,375,9,...,0,38,4,12,8,4,0,1,0,3
13,Manchester United,618,3,3,29,526,12,0,377,9,...,0,38,2,16,8,10,0,1,3,10
14,Southampton,452,1,1,24,330,13,0,378,8,...,0,38,2,25,6,3,1,1,0,3
15,Cardiff City,225,1,0,38,131,7,0,377,6,...,0,38,10,16,7,6,2,0,3,4
16,Tottenham,540,0,0,31,449,7,0,379,10,...,0,38,7,19,8,5,2,1,0,3
17,Brighton,245,1,0,55,176,4,1,371,12,...,0,38,5,15,3,3,1,1,0,2
18,Newcastle United,359,2,1,55,282,4,0,374,8,...,0,38,2,12,4,6,4,0,0,6
19,Manchester City,792,2,1,18,734,11,0,371,8,...,0,38,1,17,8,3,4,0,0,9

In [47]:
statistics.corr()["team_score"]

attempted_passes                   0.275663
big_chances_created                0.469892
big_chances_missed                 0.128034
clearances_blocks_interceptions   -0.080473
completed_passes                   0.287806
dribbles                           0.146018
errors_leading_to_goal_attempt    -0.051728
fixture                            0.000264
fouls                             -0.058021
key_passes                         0.358543
minutes                           -0.085692
offside                           -0.019444
open_play_crosses                 -0.029384
opponent_team                     -0.007060
penalties_conceded                -0.031049
penalties_missed                   0.021531
penalties_saved                   -0.028282
recoveries                         0.044236
red_cards                         -0.034767
round                             -0.000705
saves                             -0.146882
tackled                            0.040189
tackles                            0.019968
target_missed                      0.089336
team_score                         1.000000
was_home                           0.143519
yellow_cards                      -0.084689
shots_on_target                    0.624668
Name: team_score, dtype: float64

In [62]:
red_carded_teams = statistics[statistics["red_cards"] == 1]
not_red_carded_teams = statistics[statistics["red_cards"] == 0]
red_carded_teams.mean()
not_red_carded_teams.mean()

In [104]:
# Transforming numeric columns into binary columns.
statistics_binary = statistics.copy(deep=True)
statistics_binary = statistics_binary.drop(columns=['name'], axis=1)


def encode_numeric_to_binary(dataframe, column_name, ranges):
    
    binary_columns = pd.DataFrame()
    for i in range(len(ranges)): 
        binary_column[dataframe]
    
    for i in range(len(ranges)):
        if (i == 0):
            
        elif (i == len(ranges) - 1):
            
        else ()
        
    col_index = dataframe.columns.get_loc(column_name)
    dataframe = dataframe.drop(columns=[column_name], axis=1)
    dataframe 
    
# Modifying attempted passes
encode_numeric_to_binary(statistics_binary, "attempted_passes", [200,400,600,800,1000])

    attempted_passes
4                559
11               678
12               579
14               560
1                570
2                552
4                559
8                852
13               528
17               562
4                626
6                515
12               587
15               608
1                571
2                593
5                615
6                527
8                612
12               593
14               508
0                613
1                541
2                799
4                542
5                506
6                503
10               517
12               588
14               615
..               ...
4                690
7                598
9                615
11               623
21               717
24               683
26               576
27               701
6                623
8                726
10               543
11               611
15               612
19               608
0                519
3                563
6                602
8                681
10               552
12               605
17               540
19               639
3                533
6                764
8                601
9                514
10               535
13               618
16               540
19               792

[742 rows x 1 columns]