# ENTROPY OF FOOTBALL STATISTICS

**In this project we will be exploring football statistics and the effectivness of machine learning models to predict the outcome of matches. For this we will be employing two types of models: regression and classifier models.**

In [6]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [8]:
statistics = pd.read_csv("Parsed_2016_17/gwgames/gw1.csv")

In [9]:
statistics.head(10)

,name,attempted_passes,big_chances_created,big_chances_missed,clearances_blocks_interceptions,completed_passes,dribbles,errors_leading_to_goal_attempt,fixture,fouls,...,red_cards,round,saves,tackled,tackles,target_missed,team_score,was_home,yellow_cards,shots_on_target
0,West Ham United,351,0,0,49,262,3,0,10,16,...,0,1,4,19,18,2,1,0,2,3
1,Everton,357,0,1,61,261,8,0,3,10,...,0,1,3,16,16,4,1,1,0,6
2,Arsenal,485,0,1,36,385,8,0,8,13,...,0,1,3,23,8,3,3,1,3,5
3,Watford,303,0,0,51,194,8,0,7,12,...,1,1,6,13,15,4,1,0,2,1
4,Chelsea,559,0,0,19,481,16,0,10,16,...,0,1,2,26,10,6,2,1,5,6
5,Hull City,448,0,0,53,340,7,1,4,8,...,0,1,4,14,14,7,2,1,2,5
6,Middlesbrough,353,1,1,38,262,10,0,6,18,...,0,1,0,16,8,6,1,1,3,2
7,AFC Bournemouth,483,0,0,19,412,13,0,9,7,...,0,1,4,27,11,2,1,1,0,3
8,Liverpool,481,2,0,32,382,11,0,8,17,...,0,1,2,21,9,3,4,0,3,7
9,Sunderland,188,2,1,60,102,11,1,5,14,...,0,1,3,8,11,2,1,0,2,3